body{
    background-color: #B3C890;
}
h1{
    font-size: 5rem;
    color:#fff;
    background-color: #643843;
    
}
h2{
    color:#fff;
    background-color: #643843;
    font-size:4rem;
}
button{
    font-size: 3rem;
    color:#fff;
    background-color:#643843;
}
    
    

